{% extends 'base.html' %}

{% block title %}Proposals{% endblock %}
{% block title_head %}Proposals{% endblock %}


 {% block main %}

 <div class="block">
   {% if activecall %}
   <div class="buttons is-centered">
      <a class="button is-large gold-bg" href="{% url 'apply' %}">Apply to become a partner</a>
    </div>
    {% else%}
    <p>We are not currently accepting applications for partners. Please view the <a href="https://lco.global/education/partners/">Global Sky Partners web pages</a> for more details.</p>
{% endif %}
</div>

{% if object_list %}
<h2>
Your proposals
</h2>

<table class="table is-fullwidth is-striped">
<tr>
  <th>Title</th>
  <th>Year</th>
  <th>Status</th>
</tr>

{% for object in object_list %}
  <tr>
    <td><a href="{% url 'proposal' object.id %}">{{object.partner.name}}</a></td>
    <td>{{object.cohort.year}}</td>
    <td>
      <span class="{% if object.status == 0 %}gold-bg{% elif object.status == 1 %}blue-bg white{%endif%} py-2 px-2" >
      {{object.get_status_display}}
      </span>
    </td>
  </tr>
{% endfor %}
</table>
{% endif %}

 {% endblock %}
