{% extends 'base.html' %}

{% block title_head %}Partner Application Form{% endblock %}
{% block title %}Partner Application{% endblock %}

{% block script-content %}
<script>
{% if not form.title_options.is_hidden %}
  $( document ).ready(function() {
    if ($("input[name='new_or_old']:checked").length > 0){
      $('.proposalform').show();
      if ($("input[name='new_or_old']:checked").val() == 'extend') {
        console.log('extend')
        $('#partner_list').show()
        $('#newpartner').hide()
      } else {
        console.log('new')
        $('#partner_list').hide()
        $('#newpartner').show()
      }
    } else {
      $('.proposalform').hide();
    }
    $("input[name='new_or_old']").change(function(){
        if ($(this).is(":checked")){
            $('.proposalform').show()
          }
        if ($(this).val() == 'extend') {
          console.log('extend')
          $('#partner_list').show()
          $('#newpartner').hide()
        } else {
          console.log('new')
          $('#partner_list').hide()
          $('#newpartner').show()
        }
    });
  });
  {% endif %}
</script>
{% endblock %}

{% block mainfull %}
{% if activecall %}

<div class="content">
<p class="subtitle">Submit an application for a partner project for {{activecall.year}}.</p>
</div>

{% if editing %}
<div class="notification gold-bg">
  Editing proposal
</div>
{% endif%}

<form action="" method="post">
  {% csrf_token %}

  {% for hidden in form.hidden_fields %}
      {{ hidden }}
  {% endfor %}

{{form.errors}}

{% if form.errors %}
  <div class="has-text-danger">{{ form.non_field_errors.as_ul }}</div>
{% endif %}


{% if form.title_options.is_hidden %}

  <input type="hidden" name="{{form.title_options.name}}" />
  <input type="hidden" name="{{form.new_or_old.name}}" value="{{form.new_or_old.value}}"/>

{% else %}

<div class="content">
  <div class="title">Is this for an existing or a new project?</div>
</div>

<div class="field">
  <div class="control is-size-5">
    {{form.new_or_old}}
  </div>
</div>

<div class="proposalform">
  <div class="field" id="partner_list">
    <label class="label">{{form.title_options.label|capfirst}}</label>
    <div class="select">
        {{form.title_options}}
    </div>
  </div>
</div>
{% endif %}

<div class="proposalform">

<div id="newpartner">
  <div class="field">
    <label class="label">{{form.title.label|capfirst}}</label>
    <span class="has-text-danger">{{ form.title.errors.as_ul }}</span>
    {{form.title}}
  </div>
  <div class="field">
    <label class="label">{{form.summary.label|capfirst}}</label>
    <span class="has-text-danger">{{ form.summary.errors.as_ul }}</span>
    <div class="control">
    {{ form.summary}}
    </div>
  </div>
</div>

  {% for field in form %}
  {% if field.name != 'title' and field.name != 'title_options' and field.name != 'summary' and field.name != 'new_or_old'%}
  <div class="field">
    <label class="label">{{field.label|capfirst}}</label>
    <span class="has-text-danger">{{ field.errors.as_ul }}</span>
    <div class="control">
      {% if field.name in exclusions %}
       {% if field.name == 'size' %}
       <div class="control">
        <div class="select">
          {{field}}
          </div>
        </div>
        {% elif field.name == 'institution' %}
        <div class="control has-icons-left has-icons-right">
         <input class="input is-success" type="text" name="{{field.name}}" value="{{field.value}}" />
         <span class="icon is-small is-left">
           <i class="fas fa-building"></i>
         </span>
       </div>
       {% elif field.name == 'time' %}
       <div class="control has-icons-left has-icons-right">
        <input class="input is-success" type="number" name="{{field.name}}" value="{{field.value}}" />
        <span class="icon is-small is-left">
          <i class="fas fa-clock"></i>
        </span>
      </div>
       {% endif %}
      {% else %}
      {{ field }}
      {% endif %}
    </div>
  </div>
  {% endif %}
  {% endfor %}
  <div class="field is-grouped">
    <div class="control">
      <input type="submit" class="button is-link" value="Save &amp; Preview" />
    </div>
    <div class="control">
      <a class="button is-link is-light" href="{% url 'proposals' %}">Exit</a>
    </div>
  </div>
  </div>
</form>

{% else %}
<p>There are currently no open calls for new Global Sky Partner proposals.</p>
<p>You may want to consider applying to our <a href="https://lco.global/education/partners/becoming-global-sky-partner/"Pilot Partner program</a>.</p>
{% endif %}
{% endblock %}
