{% extends 'base.html' %}

{% block title %}Proposals{% endblock %}
{% block title_head %}Proposals{% endblock %}


 {% block main %}

 <div class="block">
   {% if activecall %}
   <div class="buttons is-centered">
      <a class="button is-large gold-bg" href="{% url 'apply' %}">Apply to become a partner</a>
    </div>
    <p>Deadline for applications is <strong>{{activecall.deadline|date:"d M Y H:i T"}}</strong><br/>
      For more information about apply, <a href="{{activecall.call}}">please see our Call for Proposals</a>.
    </p>
    {% else%}
    <p>We are not currently accepting applications for partners. Please view the <a href="https://lco.global/education/partners/">Global Sky Partners web pages</a> for more details.</p>
{% endif %}
          <p><a href="https://lco.global/education/partners/becoming-global-sky-partner/">About becoming a Global Sky Partner <i class="fas fa-chevron-right"></i></a></p>
</div>

{% if object_list %}
<h2>
Your proposals
</h2>

<table class="table is-fullwidth is-striped">
<tr>
  <th class="has-text-left">Title</th>
  <th class="has-text-centered">Year</th>
  <th class="has-text-centered">Status</th>
  <th>Actions</th>
</tr>

{% for object in object_list %}
  <tr>
    <td><a href="{% url 'proposal' object.id %}">{{object.partner.name}}</a></td>
    <td class="has-text-centered">{{object.cohort.year}}</td>
    <td class="has-text-centered">
      <span class="{% if object.status == 0 %}gold-bg{% elif object.status == 1 %}blue-bg white{%endif%} py-2 px-2" >
      {{object.get_status_display}}
      </span>
    </td>
    <td>
      {% if object.status == 1 %}
      <a href="{% url 'proposal-pdf' object.id %}" class="button" title="Download PDF of proposal">
      <span class="icon">
        <i class="far fa-file-pdf"></i>
      </span>
      </a>
      {% endif %}
    </td>
  </tr>
{% endfor %}
</table>
{% endif %}

 {% endblock %}
