{% extends "base.html" %}

{% block title_head %}Permission Denied{% endblock %}
{% block title %}Permission Denied{% endblock %}


{% block mainfull %}
<div class="columns">

  <div class="column is-one-third">
    <figure class="image">
    <img src="https://cdn.lco.global/mainstyle/img/403_character.jpg" alt="Permission Denied" class="img-fluid"/>
    </figure>
  </div>
  <div class="column">
   <h1 class="red">403</h1>
   <p>Uh oh! This page is not available to you.</p>
   <a href="/" alt="home page" class="btn btn-primary">Return home <i class="far fa-home"></i></a>
 </div>
</div>
{% endblock %}
