{% extends "base.html" %}

{% block title_head %}Page not found{% endblock %}
{% block title %}Page not found{% endblock %}


{% block mainfull %}
<div class="columns">

  <div class="column is-one-third">
    <figure class="image">
    <img src="https://cdn.lco.global/mainstyle/img/404_character.jpg" alt="Page not found" class="img-fluid"/>
    </figure>
  </div>
  <div class="column">
   <h1 class="red">404</h1>
   <p>Sorry, this page was not found</p>
   <a href="{% url 'home' %}" alt="home page" class="button gold-bg">
     <span class="icon">
       <i class="far fa-home"></i>
      </span>
      <span>Site Home</span>
    </a>
 </div>
</div>
{% endblock %}
