{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% block title_head %}
            {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
            | Global Sky Partners | Las Cumbres Observatory
        {% endblock %}
    </title>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description %}{% endblock %}">


    <link rel="shortcut icon" href="https://cdn.lco.global/mainstyle/img/favicon.ico" type="image/x-icon" />
    <link href='https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css' rel="stylesheet">
    <script defer src="https://pro.fontawesome.com/releases/v5.13.0/js/all.js" integrity="sha384-Z0e6PSokCQP510gixgZGPs+obVv8eogS/eS2+/7lLSMOfmLnWBgPQppPispQXGUM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@700&family=Libre+Franklin:ital,wght@0,400;0,700;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='https://cdn.lco.global/mainstyle/css/lco-2.0.1.css'/>
	   {% block extra_css %}{% endblock%}
    {% block header_script %}{% endblock%}
  </head>

<body class="{% block body_class %}contentpage{% endblock %}">
  <div id="wrapper">
	<!-- Navigation -->
  <nav class="navbar main-navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="container {{navbarbg}}">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="https://cdn.lco.global/mainstyle/img/lco-logo-web.png" />
      </a>

      <a role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="websitenavbar"
        onClick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="websitenavbar" class="navbar-menu">
      <div class="navbar-start">

        <a class="navbar-item" href="{% url 'home' %}">
          Home
        </a>
        <a class="navbar-item" href="{% url 'partners' %}">
          Partners
        </a>
        <a class="navbar-item" href="">
          Reports
        </a>
        <a class="navbar-item" href="{% url 'proposals' %}">
          Apply
        </a>

      </div>
      <div class="navbar-end">
        {% if request.user.is_authenticated%}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            {{request.user}}
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="{% url 'auth_logout'%}">
              Logout
            </a>
          </div>
        </div>
        {% else %}
          <a class="navbar-item" href={% url 'auth_login'%}>
            Log in
          </a>
          {% endif %}
      </div>
      </div>
    </div>
  </nav>


    {% block fullcontent %}

    {% block banner %}
    <section>
      <div class="container white-bg">
  				<div class="columns">
  					<div class="column is-full" id="title-container">
              <div id="title-wrapper">
    						<h1 class="page-title">
                <span class="title-spots">
                  <i class="fas fa-square red"></i>
                  <i class="fas fa-square blue"></i>
                  <i class="fas fa-square green"></i>
                </span>
                  {% block title %}{% endblock %}
                </h1>
              </div>
  					</div>
  				</div>
        </div>
  	</section>
    {% endblock %}

	<section class="section maincontent">
    <div class="container white-bg ">
    {% block breadcrumb_menu_outer %}
    {% endblock %}

    {% if messages %}
      <div class="columns">
        <div class="column is-full messages ">
        {% for message in messages %}
        <div class="notification is-{{ message.tags }}" data-alert="alert">
            <button type="button" class="delete" data-dismiss="alert"></button>
            {{ message }}
        </div>
        {% endfor %}
        </div>
      </div>
    {% endif %}

			{% block mainfull %}{% endblock %}
			<div class="columns">
				<div class="column {% block main_span_size %}is-full{% endblock %}">
					{% block main %}{% endblock %}
				</div>
				{% block right_panel %}{% endblock %}
			</div>
    </div>
	</section>

  {% endblock%}

  {% block content-footer %}
  {% endblock %}
  </div>
  <footer class="footer">
    <div class="container">
      <div class="has-text-centered">
        <ul>
          <li><a href="/observatory/privacy-policy/" class="black is-size-6">Privacy Policy</a></li>
          <li><a href="/about/diversity/" class="black is-size-6">Diversity &amp; Inclusion</a></li>
          <li><a href="/about/careers/" class="black is-size-6">Careers</a></li>
          <li><a href="/about/contact/" class="black is-size-6">Contact</a></li>
        </ul>
      </div>
      <div class="copyright has-text-centered  is-size-7">Copyright &copy; Las Cumbres Observatory. All rights reserved.</div>
  </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
		<script>
    var token = "{{ request.session.token }}";
    if (localStorage.getItem('token') == null) {
      localStorage.setItem('token', token);
    }
    function togglehideshow(elid) {
          var div = document.getElementById(elid);
          if (div.style.display !== 'none') {
              div.style.display = 'none';
          }
          else {
              div.style.display = 'block';
          }
      };
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-2087713-1', 'auto');
		  ga('send', 'pageview');

      document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
          const $notification = $delete.parentNode;

          $delete.addEventListener('click', () => {
            $notification.parentNode.removeChild($notification);
          });
        });
      });

		</script>
    <script src='{% static "js/utils.js" %}'></script>
    {% block script-content %}
    {% endblock %}
  </body>
</html>
